<html>
<head>
    <title>CO2 Data</title>
</head>
<body>
    <p>
    <h1>
        <b>Current CO2: </b>{{co2}}ppm
    </h1>
    <h2>As of {{time}}</h2>

    <hr>
    <h2>Other Values:</h2>
    <b>Celltemp: </b>{{celltemp}}<br>
    <b>Cellpres: </b>{{cellpres}}<br>
    <b>Co2abs: </b>{{co2abs}}<br>
    <b>H2o: </b>{{h2o}}<br>
    <b>H2oabs: </b>{{h2oabs}}<br>
    <b>H2odewpoint: </b>{{h2odewpoint}}<br>
    <b>Ivolt: </b>{{ivolt}}<br>
    <b>Co2raw: </b>{{co2raw}}<br>
    <b>Co2ref: </b>{{co2ref}}<br>
    <b>H2oraw: </b>{{h2oraw}}<br>
    <b>H2oref: </b>{{h2oref}}<br>
    </p>
</body>
</html>